# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.tlog
*.db
*.ilk
*.pdb
*.opendb
QThreadTest/.vs/QThreadTest/v14/.suo
.vs/QtTest/v14/.suo
*.exp
